@model UpdateAboutDTO
@{
    ViewData["Title"] = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


<<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Hakkımızda Veri Güncelleme Alanı</h4>
                        <p class="card-subtitle mb-4">
                            Ana sayfanın ve Hakkımızda sayfasının "Hakkımda" alanında bulunan aşağıdaki bilgileri güncelleyebilirsiniz.
                        </p>
                        <form method="post">
                            <input type="hidden" asp-for="AboutID" />
                            <div class="form-group">
                                <label for="exampleInputTitle">Başlık</label>
                                <input type="text" class="form-control" id="exampleInputTitle" asp-for="Title" placeholder="Başlığı giriniz" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">Açıklama</label>
                                <textarea rows="5" class="form-control" asp-for="Description" placeholder="Açıklama bilgisini giriniz"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputImageUrl">Görsel</label>
                                <input type="text" class="form-control" id="exampleInputImageUrl" asp-for="ImageUrl" placeholder="Hakkımda Kapak Fotoğraf Bilgisini Giriniz" />
                            </div>
                            <button type="submit" class="btn btn-success waves-effect waves-light">Hakkımda Bilgisini Güncelle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




