@model CreateAuthorDTO
@{
    ViewData["Title"] = "CreateAuthor";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Yeni Yazar Bilgisi Girişi</h4>
                        <p class="card-subtitle mb-4">Yazar alanına veri girişini aşağıdaki panelden yapabilirsiniz.</p>
                        <form method="post">
                            <div class="form-group">
                                <label for="exampleInputAuthorName">Ad Soyad</label>
                                <input type="text" class="form-control" id="exampleInputAuthorName" asp-for="Name" placeholder="Yazar ismi giriniz" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputDescription">Açıklama</label>
                                <input type="text" class="form-control" id="exampleInputDescription" asp-for="Description" placeholder="Açıklama bilgisini giriniz" />
                            </div>
                            <div class="form-group">
                                <label for="exampleInputAuthorImageUrl">Yazar Görsel</label>
                                <input type="text" class="form-control" id="exampleInputAuthorImageUrl" asp-for="ImageUrl" placeholder="Yazar Görsel URL bilgisini giriniz" />

                            </div>
                            <button type="submit" class="btn btn-primary waves-effect waves-light">Yazar Bilgisini Kaydet</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


